body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ColorRenderer {
  display: flex;
}
.color {
  margin: 1rem;
  padding: 1rem;
  width: 33%;
}

.wrapper {
  min-height: 100vh;
}
.dark {
  background-color: black;
}

section {
  margin: 2rem 0;
  border-bottom: 1px solid gray;
  padding: 0.5rem;
}
section:nth-child(1) {
  margin-top: 0;
}

.btn {
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
}